*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body , html{
    display: grid;
    place-items: center;
    height: 100%;
    background: linear-gradient(to right,#bb0fe0,#00f5c0);
    width: 100%;
}
.container{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 380px;
    overflow: hidden;
}
.title-text{
    display: flex;
    width: 200%;
    text-align: center;
}
.title{
    width: 50%;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.slide{
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0 0;
    font-size: 20px;
    z-index: 1;
    position: relative;
}
.slider{
    position: absolute;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right,#bb0fe0,#00f5c0);
    left: 0;
    border-radius: 5px;
    z-index: -1;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type = radio]{
    display: none;
}
#signup:checked ~ .slider{
    margin: 0 0 0 50%;
}
#signup:checked ~ .signup-S{
    color: #fff;
}
#login:checked ~ .login-L{
    color: #fff;
}
.signup-S , .login-L{
    cursor: pointer;
}
.form-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.inner{
    display: flex;
    width: 200%;
}
form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.feild input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 0 0 0 5px;
    margin: 20px 0 0 0;
    border: 1px solid #ccc;
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: none;
}
.feild input:focus{
    border-color: #00f5c0;
}
.link-pass a , .link-signup a {
    color: #bb0fe0;
    text-decoration: none;
}
.link-pass a:hover , .link-signup a:hover{
    text-decoration: underline;
}
.feild input[type = submit]{
    border: none;
    background: linear-gradient(to right,#bb0fe0,#00f5c0);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.feild input[type = submit]:hover{
    background: linear-gradient(to right,#00f5c0,#bb0fe0);
}
.link-signup{
    font-size: 18px;
    text-align: center;
    margin: 20px 0 0 0;
}